<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <form action="/emp_save", id="emp_form" enctype="multipart/form-data"></form>
    <table>
        <tr>
            <td>
                <input type="text" name="emp_name">
            </td>
        </tr>
        <tr>
            <td>
                <input type="email" name="emp_email">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="emp_contact">
            </td>
        </tr>
        <tr>
            <td>
                <textarea name="emp_address"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="file" name="emp_profile">
            </td>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>

</body>
</html>